body {
   
    background-image: url("./images/backdrop.jpg") repeat center fixed; 
    
}

.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.continueBtn {
    margin-left: '10px'
}
Header {
    font-weight: bold;
    font-size: 20px;
    /* background-color: beige; */
}
.Jumbotron {
    color: khaki;
}

.wrapper {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;  
}

#success {
    text-align: center;
    font-size: 40px;
}
/*
img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 70%;
  } */
  
  .ClassDiv> div {
    flex-basis: 25%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  
   img {
    width: 55%;
    height: 100%;
    margin: 2px ;
    border: 5px solid lightseagreen;

    transform: scale(1);
    justify-content: center;
    align-items: center;
    
  }
  .ClassDiv > div:hover {
    transform: scale(1.30);
    
  }
/*
.navbar {
    background-color: whitesmoke; 
    color: white; 
} */

/*
.nav.navbar-nav.navbar-right .fa   {
    color:white;
}

.navbar-header .navbar-brand {
    color:white;  
} */